.maincontent {
    margin: 20px;
}

.header {
    background-color: lightblue;
    padding: 15px;
    font-weight: bold;
    font-size: x-large;
}

.pokemon-container {
    font-family: Arial, sans-serif;
    width: 80%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
}

.pokemon-header {
    text-align: left;
}

.pokemon-stats,
.pokemon-profile {
    margin-top: 10px;
}

.pokemon-image {
    text-align: left;
    margin-top: 10px;
}

.pokemon-image-inline {
    max-width: 50px;
    height: auto;
}

img {
    height: 100px;
}

.search-result-row {
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.highlight-query {
    background-color: yellow;
}


.pokemon-card {
    border: 1px solid gray;
    border-radius: 8px;
    padding: 20px;
    max-width: 80%;
    margin: auto;
}

.pokemon-header h1 {
    font-size: 72px;
    font-weight: bold;
    text-align: left;
}

.pokemon-name {
    text-align: left;
    margin-bottom: 5px;
}

.pokemon-summary {
    text-align: left;
    color: #777;
    margin-bottom: 20px;
}

.pokemon-image {
    max-width: 200px;
    text-align: center;
    margin-bottom: 20px;
}

.pokemon-image img {
    max-width: 100%;
}

.pokemon-info {
    margin-bottom: 20px;
}

.pokemon-info p {
    margin-bottom: 5px;
}

.pokemon-actions,
.pokemon-edit {
    text-align: center;
}

.pokemon-actions button,
.pokemon-edit button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f8f9fa;
    cursor: pointer;
}

.pokemon-actions button:hover,
.pokemon-edit button:hover {
    background-color: #e2e6ea;
}

.find-counters {
    background-color: #4CAF50;
    /* Green */
    color: white;
}

.find-similar {
    background-color: #2196F3;
    /* Blue */
    color: white;
}

.edit {
    background-color: #f0ad4e;
    /* Orange */
    color: white;
}

.delete {
    background-color: #d9534f;
    /* Red */
    color: white;
}

.navigation-buttons {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 48px;
}

.navigation-buttons button {
    border: none;
    background-color: transparent;
}

.navigation-buttons h4 {
    margin: 0 20px;
}

.navigation-buttons .btn.btn-link {
    font-size: 36px;
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
}

.navbar-collapse .navbar-nav {
    flex-grow: 1;
}

.add-btn {
    margin-left: auto;
}

.homeTitle {
    text-align: center;
}

.emphasized-text {
    font-size: 24px;
}

.homeSearchButtons {
    text-align: center;
    margin-left: 30px;
    margin-bottom: 10px
}