{% extends "layout.html" %}

{% block content %}

<div class="container homeContent">

 <br><br>
    <div class="header">
      <h1>How to Play Minesweeper</h1>
      <p>Learn the basics of the common PC game in 5 quick lessons.<br>
      Test your knowledge after each one!</p>
    </div>
  
    <img src="static/image/home/minesweeper.gif" alt="Minesweeper Game" class="minesweeper-img">
  
    <a href="/start" id="startButton" class="getstartedbutton">Get Started</a>

  </div>
</div>

<script>
    $("#backBtn").text(`Home`);
</script>
{% endblock %}