<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="data:,">

  <!-- jquery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

  
  <script type="text/javascript" src="{{ url_for('static', filename = 'search.js') }}"></script>
 
  <title>Learn Minesweeper</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a href="/learn/1" class="btn btn-outline-secondary ms-auto add-btn">1</a>
      <a href="/learn/2" class="btn btn-outline-secondary ms-auto add-btn">2</a>
      <a href="/learn/3" class="btn btn-outline-secondary ms-auto add-btn">3</a>
      <a href="/learn/4" class="btn btn-outline-secondary ms-auto add-btn">4</a>
      <a href="/learn/5" class="btn btn-outline-secondary ms-auto add-btn">5</a>

      <div class="col-3"></div>
      <div class="navbar-brand lesson-title" >Welcome</div>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

        <div class="col-3"></div>

      </div>
    </div>
  </nav>

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

</body>

</html>