{% extends "layout.html" %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    let currentIndex = 0;
    let lesson = {{ result | tojson }};
    let imgs = lesson.img;

    $("#quizBtn").hide();
    $("#backBtn").text(`Home`);

    function updateImageDisplay() {
        if (currentIndex === imgs.length - 1){
            $("#quizBtn").show();
            $("#nextBtn").hide();
        }
        else
        {
          $("#nextBtn").show();
        }

        if (currentIndex === 0){
           $("#prevBtn").hide();
        }
        else{
          $("#prevBtn").show();
        }

       
     
        
        

        // Update the source of the image element
        $("#imageDisplay").attr('src', imgs[currentIndex]);
    }

    function displayLesson() {
        let id = lesson.id || 1;
        let title = lesson.title || "Lesson Title";

        $(".lesson-title").text(`Lesson ${id}: ${title}`);
        $(".next-lesson").text(`Up Next: ${title} Quiz`);

        
        updateImageDisplay(); // Update image when the page loads
    }


    // Next button functionality
    $("#nextBtn").click(function() {
        currentIndex = (currentIndex + 1) % imgs.length; // Cycle forward through the images
        updateImageDisplay();
    });

    // Previous button functionality
    $("#prevBtn").click(function() {
        currentIndex = (currentIndex - 1 + imgs.length) % imgs.length; // Cycle backward through the images
        updateImageDisplay();
    });

    displayLesson();
});
</script>


    <div class="maincontent">
        <div class="container">
            <div class="row align-items-center mb-3">
                <br><br><br><br><br>
            </div>

            <div class="row align-items-center mb-3">
              <!-- Previous button on the left -->
              <div class="col-1">
                <button id="prevBtn" class="btn btn-secondary lesson-button">←</button>
              </div>
              <!-- Image in the center with flexible space on either side -->
              <div class="col-10">
                <div class="container lesson-img-container">
                <img id="imageDisplay" src="" alt="Lesson Image" class="img-fluid">
            </div>
              </div>
              <!-- Next button on the right -->
              <div class="col-1">
                <button id="nextBtn" class="btn btn-secondary lesson-button">→</button>
              </div>
            </div>
          
            <!-- Go to Quiz button below the image -->
            <div class="row">
              <div class="col text-center">
                <a href="/quiz/{{ result.id }}/1" class="btn btn-primary" id="quizBtn">Go to Quiz</a>
              </div>
            </div>
          </div>
          
    </div>

{% endblock %}
